<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Users List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<div class="main-content-wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div class="main-content">
        <div class="header">
            <span class="header-text">Users List</span>

            <form th:action="@{/registration/search}" method="get">
                <div class="form-group">
                    <input type="text" class="form-control" name="search" placeholder="Search..." th:value="${param.search}">
                </div>
            </form>

            <a th:href="@{/registration}" class="add-content"> <i class="fa fa-plus" aria-hidden="true"></i> Add User</a>
        </div>
        <div class="content">

            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="users : ${listusers}">
                    <td scope="row" th:text="${users.id}"></td>
                    <td th:text="${users.firstName}"></td>
                    <td th:text="${users.lastName}"></td>
                    <td th:text="${users.email}"></td>
                    <td th:text="${users.role}"></td>
                    <td> <a th:href="@{/registration/update/{userId}(userId=${users.id})}" class="btn btn-primary"><i class="fa fa-pencil"></i></a>
                        <a th:href="@{/registration/delete/{userId}(userId=${users.id})}" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>

                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
</body>
</html>